.reviews {
  overflow: hidden;
  background-color: #53354a;
  &__item {
    display: flex;
    flex-wrap: wrap;
  }
  &__photo {
    width: 50%;
    height: 500px;
    position: relative;
  }
  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
  &__content {
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    margin-bottom: 25px;
    font-family: "Cardo-Italic", sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
  }
  &__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }
}
@media (max-width: 991px) {
  .reviews {
    &__photo {
      margin: 15px 0 40px;
      width: 100%;
    }
    &__content {
      width: 100%;
      padding-left: 0;
      padding-bottom: 40px;
    }
    &__photo {
      overflow: hidden;
    }
    &__img {
      min-width: 991px;
    }
  }
}
@media (max-width: 991px) {
  .reviews {
    &__content {
      font-size: 25px;
    }
  }
}
@media (max-width: 767px) {
  .reviews {
    &__img {
      margin-right: -40px;
    }
  }
}
@media (max-width: 568px) {
  .reviews {
    &__img {
      margin-right: -90px;
    }
  }
}
@media (max-width: 414px) {
  .reviews {
    &__img {
      margin-right: -140px;
    }
  }
}
