.reviews {
  overflow: hidden;
  background-color: #53354a;
  &__slider {
    overflow: hidden;
    height: 500px;
  }
  .reviews__slider.slick-initialized {
    height: auto;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  &__photo {
    width: 50%;
    height: 500px;
    position: relative;
  }
  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
  &__content {
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    margin-bottom: 25px;
    font-family: "Cardo-Italic", sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
  }
  &__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }
}
@media (max-width: 991px) {
  .reviews {
    &__photo {
      margin: 15px 0 40px;
      width: 100%;
    }
    &__content {
      width: 100%;
      padding-left: 0;
      padding-bottom: 40px;
    }
    &__photo {
      overflow: hidden;
    }
    &__img {
      min-width: 991px;
    }
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px;
  list-style: none;

  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  li {
    margin: 0 5px;
  }
  button {
    width: 15px;
    height: 15px;
    padding: 0;

    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    border: 0;
    cursor: pointer;

    font-size: 0;
    color: transparent;
  }
  button:focus {
    outline: 0;
  }
  .slick-active button {
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .reviews {
    .slick-dots {
      right: 25%;
    }
    &__content {
      font-size: 25px;
    }
  }
}
@media (max-width: 767px) {
  .reviews {
    &__img {
      margin-right: -40px;
    }
  }
}
@media (max-width: 568px) {
  .reviews {
    &__img {
      margin-right: -90px;
    }
  }
}
@media (max-width: 414px) {
  .reviews {
    &__img {
      margin-right: -140px;
    }
  }
}
